<h1>New Gallery</h1>
<form action="/galleries/:gallery" method="POST">
  <label>Gallery Name</label>
  <input type="text" name="gallery[name]">
  <br>
  <label>Description</label>
  <input type="text" name="gallery[description]">
  <br>
  <input type="submit">
</form>
